<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false"
	bootstrap="./tests/bootstrap.php.dist">

	<php>
		<var name="api_key" value="" />
		
		<var name="region" value="" />
		<var name="battle_tag" value="" />
		<var name="locale" value="" />

		<var name="hero_id" value="" />
	</php>

	<testsuites>
		<testsuite name="Diablo 3 Test Suite">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
